# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# environment
.env
.env*.local

# database
*.db
*.db-journal

# uploads (user-generated content)
/public/uploads/*
!/public/uploads/.gitkeep

# misc
.DS_Store
*.pem
npm-debug.log*
.vscode/*
!.vscode/extensions.json

# prisma
/prisma/migrations/dev.db
